%nav.top-bar.hide-for-small{data: {topbar: true}, role: 'navigation'}
  %ul.title-area
    %li.name

  %section.top-bar-section
    %ul.left
      = render 'shared/admin_menu'

    %ul.right
      %li.name
        %h1
          %a{href: root_path} Weird Catalog

%nav.tab-bar.show-for-small
  %section.left-small
    %a.left-off-canvas-toggle.menu-icon{href: '#'}
      %span
  %section.tab-bar-section.right
    %h1
      %a{href: root_path} Weird Catalog

%aside.left-off-canvas-menu
  %ul.off-canvas-list
    = render 'shared/admin_menu'
