%nav.top-bar{data: {topbar: true}, role: 'navigation'}
  %ul.title-area
    %li.name
      %h1
        %a{href: admin_path} Weird Catalog
    %li.toggle-topbar.menu-icon
      %a{href: '#'}
        %span

  %section.top-bar-section
    %ul.right
      - if signed_in?
        %li
          %a{href: '#'} #{current_user.email}
        %li.divider
        %li
          %a{href: sign_out_path, data: {method: 'delete'}} Sign Out
      - else
        %li
          %a{href: sign_in_path} Sign In
