%header.topbar
  .info-container
    .info-section
      %article
        %span.blend Weird Catalog
        is a curated collection of high-quality games, movies, TV, music, books, comics, and internet stuff. Celebrate the colorful, creative, and strange.
      %strong Get inspired. Get weird.
      %p
        A project of
        %a{href: 'http://thesoapcollective.com', target: '_blank'} The Soap Collective
      %p.info-copyright All images are the property of their respective copyright holders. All other rights reserved, The Soap Collective &copy; #{Time.now.year}.
      %a.info-email-us{href: "mailto:get@weirdcatalog.com?subject=Let's%20get%20weird!"} Send us weird stuff!
      %a.toggle-info.info-triangle-up{href: '#'}
  %nav
    %ul.list-reset.topbar-left
      %li.no-margin
        %span Sort By:
      %li.has-dropdown.sort-by-dropdown
        %a.dropdown-trigger{href: '#'} Date Added
        %ul.list-reset.dropdown
          %li
            %a{href: '#'} Date Added
          %li
            %a{href: '#'} Release Date
          %li
            %a{href: '#'} Alphabetical
      %li.no-margin
        %span Category:
      %li.has-dropdown.category-dropdown
        %a.dropdown-trigger{href: '#'} All
        %ul.list-reset.dropdown
          %li
            %a{href: '#'} All
          - @categories.each do |category|
            %li
              %a{href: '#'} #{category.name}
      - if signed_in? && current_user.admin?
        %li
          %a{href: admin_path} Admin Portal
        %li
          %a{href: sign_out_path, data: {method: 'delete'}} Sign Out
    .topbar-right
      %h1
        %a.toggle-info{href: '#'} Weird Catalog
