%ul.breadcrumbs
  %li
    %a{href: admin_path} Portal
  %li
    %a{href: admin_catalog_items_path} Catalog Items
  %li.current
    %a{href: edit_admin_catalog_item_path} Edit

.admin-section
  .admin-catalog-item-section
    %h2
      Editing:
      %a{href: catalog_item_path(@item)} #{@item.name}
    = render 'form', item: @item
