%ul.breadcrumbs
  %li
    %a{href: admin_path} Portal
  %li
    %a{href: admin_catalog_items_path} Catalog Items
  %li.current
    %a{href: edit_admin_catalog_item_path} Edit

.row
  .columns.small-12
    %h2 Edit Catalog Item: #{@item.name}
    = render 'form', item: @item
