- content_for :title, @current_category.name if @current_category
- if @items.count > 0
  %ul.catalog-items-list.list-reset<>
    - @items.each do |item|
      %li.catalog-item-container<>
        .catalog-item-image{style: "background-image:url('#{item.feature_image(:large)}');"}
        %a.catalog-item-external{href: item.affiliate_url, target: '_blank'}<>
          .catalog-item-overlay
          .catalog-item-info
            %h3 #{item.name}
            %h4 #{item.description}
            %h5
              Get Weird
              %span.icon-right-arrow
        %a.catalog-item-internal{href: catalog_item_path(item)}
          %span.icon-right-arrow
        %ul.catalog-item-social<>
          %li<>
            %a.catalog-item-twitter.icon-twitter-circled{href: twitter_share_url(item), target: '_blank'}
          %li<>
            %a.catalog-item-facebook.icon-facebook-circled{href: facebook_share_url(item), target: '_blank'}

- else
  .empty-section
    .empty-inner
      %h3 Where is everything??
      %p Sorry, some of our weirdness must have run off for a coffee break. Try a different category, or check back later...
