.empty-section
  %a.img-container{href: root_path}
    = image_tag '404.gif', alt: '404'
  .empty-inner
    %h3 Nothing weird here...
    %p
      Congratulations, you've reached
      %br
      %strong the end of the Internet.
    %p You might want to go back, or maybe try typing in a different URL...
