.tab-bar-section {
  &.right {
    text-align: right;
  }
}

.admin-table {
  width: 100%;
}

.admin-catalog-item-image-cell {
  width: 360px;
}

.catalog-item-image {
  width: 100%;
  max-width: 360px;
}
