* {
  @include box-sizing(border-box);
  outline: none;
}

/*=============================================================================
  TAGS
=============================================================================*/
html {
  color: $text-color;
  font-family: $font-family;
  font-size: $font-size;
  font-weight: $font-weight-normal;
  line-height: $line-height-normal;
  -webkit-font-smoothing: antialiased;
}

body{
  background: $pink;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: $font-weight-bold;
}

h1 {
  display: block;
  font-size: to-rem(18px);

  a {
    @include text-overflow;
    @include opacity(1);
    width: 120px + $grid-unit-size-half * 2;
    padding: 0 $grid-unit-size-half;
    display: block;
    background: image-url('weird_catalog_logo.svg') no-repeat center 11px;
    background-size: 120px;

    html.touch & {
      background-position: center 12px;
    }

    html:not(.touch) & {
      @include transition(opacity $anim-speed-fast);

      &:hover,
      &:focus {
        @include opacity(.5);
      }
    }
  }
}

a {
  color: $white;
  text-decoration: none;
}

/*=============================================================================
  HELPERS
=============================================================================*/
.list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

.breadcrumbs {
  @extend .list-reset;
  margin-bottom: $grid-unit-size * 2;
  padding: $grid-unit-size-half $grid-unit-size;
  border-top: 1px solid $white;
  border-bottom: 1px solid $white;

  li {
    margin-right: 10px;
    padding-right: 10px;
    display: inline;
    border-right: 1px solid $white;

    &:last-child {
      margin-right: 0;
      padding-right: 0;
      border-right: none;
    }

    &.current {
      font-weight: $font-weight-medium;
      a {
        cursor: default;
      }
    }
  }

  li:not(.current){
    a {
      &:hover,
      &:focus {
        text-decoration: underline;
      }
    }
  }
}

.button {
  padding: $grid-unit-size-half;
  display: inline-block;
  background: $dark-pink;
}

.alert-box {
  padding: $grid-unit-size $grid-unit-size-half;
  background: $dark-pink;
  text-align: center;
}

.page-content {
  margin-top: $topbar-height;
}

/*=============================================================================
  HEADER
=============================================================================*/
.topbar {
  height: $topbar-height;
  padding: 0 $grid-unit-size;
  background: $pink;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: $z-index-level-5;

  html:not(.touch) & {
    @include transition(height $anim-speed);
  }

  nav {
    @include alt-clearfix;
    line-height: $topbar-height;
  }

  span:not(.blend):not(.icon-right-arrow),
  li a {
    padding: 0 $grid-unit-size-half;
    display: block;
  }

  .topbar-left > li > a,
  .full-catalog {
    @include opacity(1);
    position: relative;

    html:not(.touch) & {
      @include transition(opacity $anim-speed-fast);

      &:hover,
      &:focus {
        @include opacity(.5);
      }
    }
  }

  span:not(.blend):not(.icon-right-arrow),
  strong {
    font-weight: $font-weight-medium;
  }

  .icon-right-arrow {
    @include rotate(180deg);
    padding: 0;
    display: inline-block;
    position: relative;
    top: 2px;
    font-size: to-rem(14px);
  }
}

.topbar-left {
  float: left;

  > li {
    margin-right: $grid-unit-size-twice - $grid-unit-size-half;
    display: inline-block;
    vertical-align: top;

    &:last-child,
    &.no-margin {
      margin-right: 0;
    }
  }
}

.topbar-right {
  position: absolute;
  top: 0;
  right: $grid-unit-size;

  html:not(.touch) & {
    @include transition(all $anim-speed);
  }
}

.dropdown-trigger {
  cursor: default;

  &:hover,
  &:focus {
    background-color: transparent !important;
  }

  &:after {
    width: 0;
    height: 0;
    display: block;
    position: absolute;
    top: 50%;
    right: 0;
    border: inset 6px;
    border-color: $white transparent transparent transparent;
    border-top-style: solid;
    margin-right: $grid-unit-size-half;
    margin-top: -1px;
    content: "";
  }
}

.dropdown {
  display: none;
  position: absolute;
  top: $grid-unit-size-twice;
  z-index: $z-index-level-4;
  background: $pink;

  li {
    html:not(.touch) & {
      @include transition(background-color $anim-speed-fast);
    }

    &:hover,
    &:focus {
      background-color: $dark-pink;
    }
  }
}

.has-dropdown.is-active {
  .dropdown {
    display: block;
  }
}

.info-container {
  @include opacity(0);
  max-width: $info-section-max-width;
  height: 0;
  margin: 0 auto;
  overflow: hidden;

  html:not(.touch) & {
    @include transition(all $anim-speed);
  }
}

.info-section {
  padding: $grid-unit-size-half 0;
  text-align: center;
  font-size: to-rem(12px);
  line-height: $line-height-small;

  article {
    font-size: to-rem(18px);
  }

  strong {
    margin: $grid-unit-size 0;
    display: block;
    font-size: to-rem(18px);
    font-weight: $font-weight-medium;
  }

  a {
    font-weight: $font-weight-medium;

    &:hover,
    &:focus {
      text-decoration: underline;
    }
  }

  .blend {
    font-weight: $font-weight-bold;
    color: $pink;
  }
}

.info-copyright {
  max-width: 400px;
  margin: $grid-unit-size auto;
}

.info-email-us {
  margin-bottom: $grid-unit-size-half;
  display: inline-block;
}

.info-triangle-up {
  @include opacity(1);
  height: 20px;
  display: block;

  html:not(.touch) & {
    @include transition(opacity $anim-speed-fast);
  }

  &:after {
    width: 0;
    height: 0;
    margin-left: -6px;
    display: block;
    position: relative;
    left: 50%;
    border: inset 6px;
    border-color: transparent transparent $white transparent;
    border-bottom-style: solid;
    content: "";
  }

  &:hover,
  &:focus {
    @include opacity(.5);
  }
}

.hamburger {
  @include opacity(1);
  width: 20px + $grid-unit-size;
  height: $topbar-height;
  padding: 0 $grid-unit-size-half;
  display: none;
  position: relative;

  html:not(.touch) & {
    @include transition(opacity $anim-speed-fast);

    &:hover,
    &:focus {
      @include opacity(.5);
    }
  }
}

.hamburger-inner {
  @include translate(-50%, -50%);
  width: 20px;
  padding: 0 !important;
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;

  .line1,
  .line2,
  .line3 {
    height: 2px;
    margin-bottom: 3px;
    padding: 0 !important;
    display: block;
    background: $white;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.topbar-mobile {
  display: none;
}

.topbar.is-open {
  overflow: hidden;

  .info-container {
    @include opacity(1);
  }

  .topbar-left {
    @include opacity(0);
  }
}

body.is-show,
.topbar.is-menu-open {
  height: auto;

  .hamburger {
    @include opacity(.5);
  }

  .topbar-mobile {
    margin-bottom: 10px;
    text-align: center;

    > li {
      display: inline-block;
      vertical-align: top;
      text-align: left;
    }

    .has-dropdown {
      position: relative;
    }

    &:last-child {
      margin-bottom: $grid-unit-size;
    }
  }
}

.topbar.is-menu-open {
  .topbar-mobile {
    display: block;
  }
}

body.is-show {
  .topbar-mobile {
    text-align: left;
  }
}

.topbar.is-menu-open:not(.is-open) {
  .topbar-right {
    @include translateX(50%);
    right: 50%
  }
}

/*=============================================================================
  ADMIN
=============================================================================*/
.admin-section {
  max-width: $admin-page-width;
  margin: 0 auto;

  a {
    &:hover,
    &:focus {
      text-decoration: underline;
    }
  }
}

.admin-table {
  width: 100%;

  thead {
    text-align: left;
    border-bottom: 1px solid $white;
  }

  th, td {
    padding: $grid-unit-size-half;
  }

  tbody tr:nth-child(odd) {
    background-color: $dark-pink;
  }
}

.admin-catalog-item-image-cell {
  width: 360px;
}

.admin-catalog-item-image {
  width: 100%;
  max-width: 360px;
}

.admin-catalog-item-image-upload {
  margin-bottom: $grid-unit-size;

  li {
    display: inline-block;
    vertical-align: top;
  }
}

/*=============================================================================
  FORMS
=============================================================================*/
input:not([type=submit]),
textarea {
  width: 100%;
  display: block;
  color: $black;
}

textarea {
  height: 50px;
}

input[type=submit] {
  @extend .button;
  border: none;
}

.input {
  margin-bottom: $grid-unit-size;

  label {
    margin-bottom: 5px;
    display: block;
  }
}

/*=============================================================================
  HOME
=============================================================================*/
.catalog-item-container {
  width: 25%;
  height: $image-max-height !important;
  margin: 0;
  padding: 0;
  display: inline-block;
  overflow: hidden;
  position: relative;
  background-color: $dark-pink;
  vertical-align: top;
}

.catalog-item-external {
  @include opacity(0);
  @include transition(opacity $anim-speed);
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  z-index: $z-index-level-1;

  html:not(.touch) .catalog-item-container:hover &,
  html:not(.touch) .catalog-item-container:focus &,
  html.touch .catalog-item-container.is-active & {
    @include opacity(1);
  }
}

.catalog-item-image {
  @include translateY(-50%);
  width: 100%;
  height: 100%;
  margin-left: -50%;
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: $z-index-level-1;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;

  html:not(.touch) & {
    @include transition(all $anim-speed);
  }

  html:not(.touch) .catalog-item-container:hover &,
  html:not(.touch) .catalog-item-container:focus & {
    width: 150%;
    height: 150%;
    margin-left: -75%;
  }
}

.catalog-item-overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: $z-index-level-2;
  background: rgba(0,0,0,0.85);
}

.catalog-item-info {
  @include opacity(0);
  @include translateY(-25%);
  padding: 0 $grid-unit-size-half;
  position: absolute;
  top: 44px;
  left: 0;
  right: 0;
  z-index: $z-index-level-3;
  text-align: center;
  color: $white;

  html:not(.touch) & {
    @include transition(all $anim-speed);
  }

  h3 {
    font-size: to-rem(20px);
    line-height: $line-height-xsmall;
  }

  h4 {
    margin: 8px 0;
    font-size: 1rem;
    font-weight: $font-weight-normal;
    line-height: $line-height-small;
  }

  h5 {
    @include opacity(1);
    font-size: to-rem(18px);
    font-weight: $font-weight-bold;

    html:not(.touch) & {
      @include transition(opacity $anim-speed);

      &:hover,
      &:focus {
        @include opacity(.5);
      }
    }

    .icon-right-arrow {
      position: relative;
      top: -1px;
      font-size: to-rem(14px);
    }
  }

  html:not(.touch) .catalog-item-container:hover &,
  html:not(.touch) .catalog-item-container:focus &,
  html.touch .catalog-item-container.is-active & {
    @include opacity(1);
    @include translateY(0%);
  }
}

.catalog-item-internal {
  @include opacity(0);
  width: 0;
  height: 0;
  position: absolute;
  top: 0;
  left: 0;
  z-index: $z-index-level-2;
  border-top: 36px solid $white;
  border-right: 36px solid transparent;

  html:not(.touch) & {
    @include transition(opacity $anim-speed);
    @include transition-delay($anim-speed);
  }

  .icon-right-arrow {
    @include rotate(-135deg);
    display: block;
    position: absolute;
    top: -38px;
    left: 3px;
    color: $black;
  }

  html:not(.touch) .catalog-item-container:hover &,
  html:not(.touch) .catalog-item-container:focus &,
  html.touch .catalog-item-container.is-active & {
    @include opacity(1);

    &:hover,
    &:focus {
      @include opacity(.5);
    }
  }
}

.catalog-item-social {
  @include opacity(0);
  margin: 0;
  padding: 0;
  position: absolute;
  top: 14px;
  right: 18px;
  z-index: $z-index-level-2;
  list-style: none;
  line-height: 1;

  html:not(.touch) & {
    @include transition(opacity $anim-speed);
    @include transition-delay($anim-speed);
  }

  li {
    display: inline-block;

    &:first-child {
      margin-right: 9px;
    }
  }

  a {
    @include opacity(1);
    color: $white;

    html:not(.touch) & {
      @include transition(opacity $anim-speed);
    }
  }

  html:not(.touch) .catalog-item-container:hover &,
  html:not(.touch) .catalog-item-container:focus &,
  html.touch .catalog-item-container.is-active & {
    @include opacity(1);

    a {
      &:hover,
      &:focus {
        @include opacity(.5);
      }
    }
  }
}

.catalog-item-twitter,
.catalog-item-facebook {
  font-size: 22px;
}

/*=============================================================================
  CATALOG ITEM SHOW
=============================================================================*/
.catalog-item-section {
  @include opacity(1);
  @include translate(-50%, -50%);
  @include transition(all $anim-speed-slow);
  @include transition-delay($anim-speed);
  width: 100%;
  max-width: $catalog-item-max-width;
  padding-bottom: $grid-unit-size;
  position: absolute;
  top: 50%;
  left: 50%;
  text-align: center;

  h4, p {
    margin-bottom: 8px;
  }

  h2 {
    margin-bottom: 14px;
    font-size: to-rem(24px);
    line-height: $line-height-xsmall;
  }

  h4 {
    font-size: 1rem;
    font-weight: $font-weight-normal;
    line-height: $line-height-small;
  }

  h5 {
    @include opacity(1);
    @include transition(opacity $anim-speed);
    font-size: to-rem(18px);
    font-weight: $font-weight-bold;

    &:hover,
    &:focus {
      @include opacity(.5);
    }

    .icon-right-arrow {
      position: relative;
      top: -1px;
      font-size: to-rem(14px);
    }
  }

  strong {
    font-weight: $font-weight-medium;
  }

  p {
    a {
      &:hover,
      &:focus {
        text-decoration: underline;
      }
    }
  }

  .catalog-item-social {
    @include opacity(1);
    margin-top: 8px;
    position: relative;
    top: auto;
    right: auto;

    a {
      @include opacity(1);
      @include transition(opacity $anim-speed);

      &:hover,
      &:focus {
        @include opacity(.5);
      }
    }
  }

  &.reveal {
    @include opacity(0);
    @include translate(-50%, -60%);
  }
}

.catalog-item-image-show {
  @include translateY(-50%);
  width: 100%;
  height: 100%;
  margin-left: -50%;
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;

  html:not(.touch) & {
    @include transition(all $anim-speed);
  }
}

.catalog-item-image-link {
  @include border-radius(9px);
  max-width: $image-max-width;
  height: $image-max-height;
  margin-bottom: $grid-unit-size;
  display: block;
  position: relative;
  overflow: hidden;

  html:not(.touch) & {
    &:hover,
    &:focus {
      .catalog-item-image-show {
        width: 150%;
        height: 150%;
        margin-left: -75%;
      }
    }
  }
}

/*=============================================================================
  EMPTY PAGES
=============================================================================*/
.empty-section {
  @include translate(-50%, -50%);
  width: 100%;
  max-width: $empty-section-max-width;
  position: absolute;
  top: 50%;
  left: 50%;
  text-align: center;
  line-height: $line-height-small;

  .img-container {
    display: block;
    margin-bottom: $grid-unit-size;

    img {
      width: 100%;
    }
  }
}

.empty-inner {
  max-width: $empty-inner-max-width;
  margin: 0 auto;

  h3 {
    font-size: to-rem(24px);
  }

  p {
    margin-top: $grid-unit-size;
  }

  strong {
    font-weight: $font-weight-medium;
  }
}

/*=============================================================================
  RESPONSIVENESS
=============================================================================*/
@include respond-to('desktop-large') {
  .catalog-item-container {
    width: 20%;
  }
}

@include respond-to('desktop') {
  .catalog-item-container {
    width: percentage(1 / 3);
  }
}

@include respond-to('tablet-small') {
  .catalog-item-container {
    width: 50%;
  }
}

@include respond-to('phone') {
  .topbar {
    height: $topbar-height;
    position: static;
    padding-left: 0;
    padding-right: 0;
  }

  .topbar-left {
    display: none;
  }

  .topbar-right {
    right: 0;
  }

  .hamburger {
    display: inline-block;
  }

  body.is-show {
    .topbar {
      position: relative;
    }

    .topbar-mobile {
      display: block;
    }
  }

  .info-container {
    padding-left: 10px;
    padding-right: 10px;
  }

  .page-content {
    margin-top: 0;
  }

  .catalog-item-container {
    width: 100%;
  }

  html.touch {
    .catalog-item-section {
      @include translate(0, 0);
      margin: 0 auto;
      position: static;

      &.reveal {
        @include translate(0, 0);
      }
    }
  }
}

@include respond-to('phone-small') {
  .catalog-item-image-link {
    @include border-radius(0);
  }

  .catalog-item-section {
    h4 {
      padding-left: $grid-unit-size-half;
      padding-right: $grid-unit-size-half;
    }
  }
}

@media only screen and (max-height: 550px) {
  .catalog-item-section {
    @include translate(0, 0);
    margin: 0 auto;
    position: static;

    &.reveal {
      @include translate(0, 0);
    }
  }
}
