// Colors
$white: #fff;
$black: #000;
$pink: #ef254f;
$dark-pink: #da2148;

$text-color: $white;

// Fonts
$font-family: "sofia-pro", Helvetica, sans-serif;
$font-weight-normal: 300;
$font-weight-medium: 500;
$font-weight-bold: 900;
$font-size: 14px;
$text-line-height: 1.8;
$info-line-height: 1.4;

// Admin
$admin-page-width: 1000px;

// Main
$grid-unit-size: 18px;
$grid-unit-size-half: $grid-unit-size / 2;
$grid-unit-size-twice: $grid-unit-size * 2;
$topbar-height: $grid-unit-size-twice;
$image-max-width: 360px;
$image-max-height: 202px;
$catalog-item-max-width: $image-max-width;
$info-section-max-width: 500px;
$empty-section-max-width: 500px;
$empty-inner-max-width: 300px;

// Z-Indexes
$z-index-level-0: 1;
$z-index-level-1: 10;
$z-index-level-2: 20;
$z-index-level-3: 30;
$z-index-level-4: 40;
$z-index-level-5: 50;

// Animation
$anim-speed-fast: .2s;
$anim-speed: .3s;
